<div align="center">
  <br>
  <h2>Hello <%= current_user.username %>!</h1>
  <h3>You can change your account information below.</h3>

  <%= render 'form', user: @user %>

  <%= link_to 'Show', @user, class: 'button' %>
  <%= link_to 'Back', @user, class: 'button' %>
</div>
