<br>
<h1>Welcome to the Encourager app!</h1>
<div align="center">
  <% if current_user %>
    <p align="center">So nice to see you again <%= current_user.username %>!<br>
      Your Encourager is ready to motivate You.
    </p>
  <% else %>
    <p>Encourager is created to bring us motivation and
      inspiration through an active lifestyle.
    </p>
  <% end %>
  <div align="right">
    <h3>Quote of the day</h3>
    <% q = QuoteApi.fetch_quote %>
    <i><font size="+2">"</font><%= q.text %><font size="+2">"</font></i><br>
    ~ <% if q.author.nil? %>
      anonymous
      <% else %>
        <%= link_to q.author["name"], q.author["wiki"] %>
      <% end %>
  </div>
</div>
