<p id="notice"><%= notice %></p>

<h1>Registered users</h1>

<div class="small-5">
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
