// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1, h3 {
  font-family: 'Baloo';
  color: white;
}

p {
  font-family: 'Signika';
  color: white;
  font-size: x-large;
  font-weight: 700;
}

i, a, text {
  font-family: 'Signika';
  font-size: x-large;
  color: #5FA9CD;
  font-weight: 700;
}

body {
  background-position: center center;
  background-size: cover;
  background-color:rgba(0, 0, 0, 0.3);
  background: {
    color: rgba(0, 0, 0, 0.3);
    image: asset-url("jooga2.jpg");
  }
}
